.App {
  text-align: center;
}

.board {
  margin-top: 20px;
}

.tile {
  background-color: #ffb;
  border: 1px solid black;
  display: inline-block;
  font-size: 24px;
  line-height: 80px;
  position: relative;
  width: 80px;
  height: 80px;
}

.tile.valid {
  background-color: #bfb;
}

.tile.invalid {
  background-color: #fbb;
}

.immovable {
  background-color: #ddd;
  color: #777;
}

.value {
  position: absolute;
  font-size: 13px;
  line-height: 1em;
  bottom: 10px;
  right: 10px;
}

.letter {
  height: 80px;
  line-height: 80px;
  position: absolute;
  width: 80px;
}

.tile.empty {
  background-color: #fff;
}

.board-tile {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.rack {
  margin-top: 20px;
}

.rack-tile {
  display: inline-block;
}

.tile-row {
  height: 80px;
}

@media (max-width: 560px) {
  .tile,
  .board-tile,
  .rack-tile,
  .letter {
    width: 14vw;
    height: 14vw;
    line-height: 14vw;
  }

  .tile-row {
    height: 14vw;
  }
}

.entrance-left,
.exit-left.exit-complete {
  border-left: 5px solid #0a0;
  margin-left: -5px;
}

.entrance-right,
.exit-right.exit-complete {
  border-right: 5px solid #0a0;
  margin-right: -5px;
}

.entrance-top,
.exit-top.exit-complete {
  border-top: 5px solid #0a0;
  margin-top: -5px;
}

.entrance-bottom,
.exit-bottom.exit-complete {
  border-bottom: 5px solid #0a0;
  margin-bottom: -5px;
}

.exit-left {
  border-left: 5px solid #a00;
  margin-left: -5px;
}

.exit-right {
  border-right: 5px solid #a00;
  margin-right: -5px;
}

.exit-top {
  border-top: 5px solid #a00;
  margin-top: -5px;
}

.exit-bottom {
  border-bottom: 5px solid #a00;
  margin-bottom: -5px;
}
