* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.tile {
  background-color: #ffb;
  border: 1px solid black;
  border-bottom: 0;
  border-right: 0;
  display: inline-block;
  font-size: 24px;
  line-height: 80px;
  position: relative;
  width: 80px;
  height: 80px;
}

.board-tile:last-of-type .tile,
.rack-tile:last-of-type .tile {
  border-right: solid 1px black;
}

.tile-row:last-of-type .tile {
  border-bottom: 1px solid black;
}

.rack-tile .tile {
  border-bottom: 1px solid black;
}

.tile.valid {
  background-color: #bfb;
}

.tile.invalid {
  background-color: #fbb;
}

.value {
  position: absolute;
  font-size: 13px;
  line-height: 1em;
  bottom: 10px;
  right: 10px;
}

.letter {
  height: 80px;
  line-height: 80px;
  position: absolute;
  width: 80px;
}

.tile.selected {
  color: #000;
  background-color: #080;
}

.tile.empty {
  background-color: #fff;
}

.board-tile {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.rack {
  margin-top: 20px;
}

.rack-tile {
  display: inline-block;
}

.tile-row {
  height: 80px;
}

@media (max-width: 560px) {
  .tile,
  .board-tile,
  .rack-tile,
  .letter {
    width: 14vw;
    height: 14vw;
    line-height: 14vw;
  }

  .tile-row {
    height: 14vw;
  }
}

/* .entrance-left {
  border-left: 5px solid #0a0 !important;
}

.entrance-right {
  border-right: 2px solid #0a0
}

.entrance-top {
  border-top: 2px solid #0a0
}

.entrance-bottom {
  border-bottom: 2px solid #0a0
} */
