.App {
  text-align: center;
}

.tile {
  background-color: #ffb;
  border: 1px solid black;
  display: inline-block;
  font-size: 24px;
  line-height: 80px;
  position: relative;
  width: 80px;
  height: 80px;
}

.tile.valid {
  background-color: #bfb;
}

.tile.invalid {
  background-color: #fbb;
}

.value {
  position: absolute;
  font-size: 13px;
  line-height: 1em;
  bottom: 10px;
  right: 10px;
}

.letter {
  height: 80px;
  line-height: 80px;
  position: absolute;
  width: 80px;
}

.tile.selected {
  color: #000;
  background-color: #080;
}

.tile.empty {
  background-color: #fff;
}

.board-tile {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.rack {
  margin-top: 20px;
}

.rack-tile {
  display: inline-block;
}

.tile-row {
  height: 80px;
}

@media (max-width: 560px) {
  .tile, .board-tile, .rack-tile, .letter {
    width: 14vw;
    height: 14vw;
    line-height: 14vw;
  }

  .tile-row {
    height: 14vw;
  }
}